@import url(http://fonts.googleapis.com/css?family=Signika:700,400|Titillium+Web:400,700,600italic);


* {
    padding: 0;
    margin:0;
}

html{
    background-color: #F5F5F5;

}

body {
    font-family:'Titillium Web', sans-serif;
        
}

p {
    margin-bottom: 14px;
    
}

h1 {
    font-family: 'Signika', sans-serif;
    font-size:40px;
    color: #2F4F4F;
}

header {
    margin: 20px 5px;
}

#left {
    padding-left: 8%;
}

#center {
    text-align: center
}

nav {
    background-color: #ffffff;
    padding-left: 8%;
    margin-bottom: 3%;
}

nav a {
    font-size:18px;
    color:#696969;
    text-decoration: none;
    padding:1%;
    display:inline-block;
    border-top: 3px solid #ffffff;
    margin-right:10%; 
}

nav a:hover {
    border-top: 3px solid #A9A9A9;
    
}



.wrapper {
    width: 80%;
    margin:0 auto;
}

h2,h3 {
    text-align: center;
    color: #2F4F4F;
}

img {
    width:100%;

}

aside {
    margin-bottom: 20px;
}

.pictext {
    margin-top: 10px;
    padding: 3%;
    background-color: #ffffff;
    margin-bottom: 20px;

}

.pictext a {
    text-decoration: none;
}

.twothird {
    float: left;
    width:67%;
    margin-bottom: 2%;
}

.third {
    width: 30%;
    float: right;

}
        


ul {
    text-align: center;
    padding: 2%;
    background-color: #ffffff;
    list-style: none;

}

ul a{
    text-decoration: none;
    
}



footer {
    clear: both;
    color: #A9A9A9;
    margin-top: 10px;
    font-size: 14px;

}

footer a {
    color:#A9A9A9; 
}

@media only screen and (max-width: 600px){
    nav a{
        margin-right:2%;        
            
    }
    
    .third{
        clear:both;
        width: 100%; 
            
    }

    .twothird {
        width: 100%;
    }
    
    
    
}
