@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);


* {
    padding: 0;
    margin:0;
}

body {
    font-family: 'Droid Sans', sans-serif;
    font: 16px/24px 'Droid Sans', sans-serif; 
}


.wrapper {
    max-width: 960px;
    margin:0 auto;    
}

header {
    margin-top: 5px;
    margin-bottom: 10px;
}

header h1 {
    width:33%;
    float:left;
}

nav a {
    text-decoration: none;
    padding:10px;
    display:inline-block;
    border-bottom: 3px solid #ffffff;
}

nav a:hover {
    border-bottom: 3px solid #87CEEB;
    
}

img {
    width:100%
}

.promo h3 { 
    text-align: center;
    background-color:#87CEEB;
    text-transform: uppercase;
    color:#ffffff;
}

.promo img {
    margin-bottom: -4px;
}


.banner{
    text-align: center;

}

.third {
    width:32%;
    float: left;
    margin-right: 2%
}

.half {
    width:49%;
    margin-right:2%; 
    float:left;
}

.full, .half, .third {
    margin-bottom: 5px;

}

.last{
    margin-right: 0;
}

footer{
    background-color: #87CEEB;
    clear:both;   
}

footer ul {
    list-style: none;
}

.clearfix {
    clear: both;
    display: block;
}
    
@media screen and (max-width: 600px) {
  .half, .third {
    width:100%;
    
  }
  
}